@using System.Linq
@helper PostDate(DateTime rawDate) {
    <time datetime="@rawDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss")" pubdate data-updated="true">@rawDate.ToString("MMM d, yyyy")</time>
}

<html>
  <head>
    <meta charset="utf-8">
    <title>@Title</title>
	  <meta name="description" content="">
    <meta name="author" content="Simon Dickson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link href="@Model.Root/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="@Model.Root/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="@Model.Root/assets/syntax/syntax.css" rel="stylesheet">
    <link rel="stylesheet" href="@Model.Root/stylesheets/styles.css">
    <link rel="stylesheet" href="@Model.Root/stylesheets/pygment_trac.css">
    <link rel="alternate" href="@Model.Root/rss.xml" title="@Model.SiteTitle" type="application/rss+xml">
    
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- FSharp.Formatting Styles -->
  	<link rel="stylesheet" type="text/css" media="screen" href="@Model.Root/fsharp.formatting/tooltips.css" />
  	<script type="text/javascript" src="@Model.Root/fsharp.formatting/tooltips.js"></script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <!-- Google Analytics -->
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46304436-1', 'auto');
          ga('send', 'pageview');
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default visible-xs" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a type="button" class="navbar-toggle nav-link" href="http://github.com/simonhdickson">
          <i class="fa fa-github"></i>
        </a>
        <a type="button" class="navbar-toggle nav-link" href="http://twitter.com/simonhdickson">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="navbar-brand" href="@Model.Root/">
          <img src="http://www.gravatar.com/avatar/db889c0148e478a362dd7a3c5fb818a5?s=35" class="img-circle" />
          @Model.SiteTitle
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="@Model.Root/">Home</a></li>
          <li><a href="@Model.Root/{{ site.categories_path }}">Categories</a></li>
          <li><a href="@Model.Root/{{ site.tags_path }}">Tags</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    
    <!-- nav-menu-dropdown -->
    <div class="btn-group hidden-xs" id="nav-menu">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bars"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="@Model.Root/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="@Model.Root/{{ site.categories_path }}"><i class="fa fa-folder"></i>Categories</a></li>
        <li><a href="@Model.Root/{{ site.tags_path }}"><i class="fa fa-tags"></i>Tags</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="fa fa-arrow-up"></i>Top of Page</a></li>
      </ul>
    </div>

    <div class="col-sm-3 sidebar hidden-xs" style="">
      <!-- sidebar.html -->
      <header class="sidebar-header" role="banner">
        <a href="@Model.Root/">
          <img src="http://www.gravatar.com/avatar/db889c0148e478a362dd7a3c5fb818a5?s=150" class="img-circle" />
        </a>
        <h3 class="title">
              <a href="@Model.Root/">@Title</a>
          </h3>
      </header>

      <div id="bio" class="text-center">
        <!-- Bio goes here -->
      </div>

      <div id="contact-list" class="text-center">
        <ul class="list-unstyled list-inline">
          <li>
            <a class="btn btn-default btn-sm" href="https://github.com/simonhdickson">
              <i class="fa fa-github-alt fa-lg"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-default btn-sm" href="https://twitter.com/simonhdickson">
              <i class="fa fa-twitter fa-lg"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-default btn-sm" href="https://pinterest.com/simonhdickson">
              <i class="fa fa-pinterest fa-lg"></i>
            </a>
          </li>
        </ul>
        <ul id="contact-list-secondary" class="list-unstyled list-inline">
          <li>
            <a class="btn btn-default btn-sm" href="https://linkedin.com/in/simonhdickson">
              <i class="fa fa-linkedin fa-lg"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-default btn-sm" href="@Model.Root/{{ site.rss_path }}">
              <i class="fa fa-rss fa-lg"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar.html end -->
    </div>

    <div class="col-sm-9 col-sm-offset-3">
      @RenderBody()

      <footer>
        <hr/>
        <p>
          &copy; 2016 Simon Dickson with FsBlog. Theme: <a href="https://github.com/dbtek/dbyll">dbyll</a> by dbtek.
        </p>
      </footer>
    </div>
    
    <script src="@Model.Root/assets/jquery/jquery.min.js"></script>
    <script src="@Model.Root/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="@Model.Root/javascripts/app.js"></script>
    <script src="@Model.Root/javascripts/scale.fix.js"></script>
    @RenderSection("JavaScript", false)
  </body>
</html>
